.curriculum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.curriculum-title {
    font-weight: bold;
    margin-top: 7.5vh;
    font-family: 'Ubuntu', sans-serif;
    -webkit-text-stroke: 2px #1d1d1d;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-80);
    line-height: 4.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    transition: all 0.3s ease-in-out;
}

.curriculum > .action-buttons {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    column-gap: 2.15vw;
}

.curriculum > .action-buttons button {
    border-color: #1d1d1d!important;
}


@media only screen and (max-width: 600px) {
    iframe {
        margin: 0!important;
    }
}