:root {
  --font-12: 0.85vw;
  --font-14: 1vw;
  --font-16: 1.125vw;
  --font-18: 1.25vw;
  --font-20: 1.4vw;
  --font-24: 1.65vw;
  --font-40: 2.75vw;
  --font-80: 5.5vw;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  height: 100%;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.about {
  flex: 1;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  flex: 3;
  background: white;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  padding-top: 15vh;
}

.content-body {
  padding: 0 7.5vw;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  transition-duration: 0.3s;
  transition-property: height;
  transition-timing-function: ease-in-out;
  background: #1d1d1d;
}

.switch {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  height: 110px;
  width: 50px;
  background: transparent;
  border: 2px solid;
  border-color: #1d1d1d;
  border-radius: 40px;
  cursor: pointer;
  z-index: 100;
}

.switch-track {
  position: absolute;
  width: 37px;
  background: #fff;
  height: 37px;
  border-radius: 50%;
  top: 6px;
  transition-delay: 1s;
  transition: all 0.3s ease-in-out;
}

.iceberg-bottom {
  height: 150%;
  position: absolute;
  top: 48%;
  transition: all 0.8s;
  transition-delay: 0s;
  opacity: 1;
  filter: contrast(0.5);
}

.iceberg-top {
  height: 150%;
  position: absolute;
  top: -53%;
  transition: all 0.8s;
  transition-delay: 0s;
  opacity: 0.4;
}


.content-body {
  width: 75%;
  z-index: 200;
  position: relative;
}

.top-half {
  width: 100%;
  bottom: 50%;
  position: absolute;
}

.bottom-half {
  width: 100%;
  height: 50%;
  top: 50%;
  position: absolute;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-80);
  line-height: 4.5vw;
  font-weight: bold;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
}

.description {
  margin: 3.25vh 2.15vw;
  font-size: var(--font-16);
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}

.divider {
  height: 2px;
  width: 100%;
  background: #1d1d1d;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.skills-title {
  font-weight: bold;
  font-size: var(--font-40);
  line-height: 2.5vw;
  margin-top: 3.25vh;
  -webkit-text-stroke: 2px #1d1d1d;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
}


.skills {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2.15vw;
  column-gap: 2.15vw;
}

.skills-category {
  flex: 1 1;
  border: 2px solid #fff;
  border-radius: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: var(--font-18);
}

.skills-header {
  width: fit-content;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.3vw 1vw;
  margin-top: -2px;
  margin-left: -2px;
  background: #fff;
  font-size: var(--font-12);
  font-weight: 500;
  color: #1d1d1d;
  transition: all 0.3s ease-in-out;
}

.skills-body {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  padding: 1vw;
}

.photo {
  padding: 6.75vh 5vw 3.25vh 5vw;
}

.photo img {
  width: 100%;
  border-radius: 50%;
  /* filter: grayscale(1); */
  border: 2px solid #1d1d1d;
  transition: all 0.3s ease-in-out;
}

.bio {
  font-size: var(--font-16);
  font-weight: 400;
  text-align: justify;
  padding: 0 2.15vw;
  hyphens: auto;
  transition: all 0.3s ease-in-out;
}

.bio span {
  font-size: var(--font-20);
  font-weight: 600;
  margin: 0.5vw;
}

.bio hr {
  border-width: 0;
  margin: 0;
  margin-bottom: 1.75vh
}

.action-buttons {
  padding: 2.15vw;
  display: flex;
  flex-direction: column;
  row-gap: 1.5vw;
}

.action-buttons button {
  flex: 1 1;
  width: 100%;
  border: 2px solid #1d1d1d;
  background: #fff;
  padding: 0.75vw;
  border-radius: 100px;
  font-weight: 500;
  font-size: var(--font-20);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action-buttons button:hover {
  border: 2px solid #1d1d1d;
  background: #1d1d1d;
  color: white;
}


.socials {
  display: flex;
  position: absolute;
  padding: 6.25vh 2.15vw;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials-logo {
  font-size: var(--font-40);
  cursor: pointer;
  color: #1d1d1d;
  transition: all 0.3s ease-in-out;
}

.socials-logo:hover {
  color: #1d1d1d;
}


.scroll-me {
  width: 1.75vw;
  height: 3vw;
  border: 2px solid #1d1d1d;
  border-radius: 25px 25px 30px 30px;
  position: absolute;
  bottom: 6.75vh;
  z-index: 300;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.scroll-me>.wheel {
  position: absolute;
  width: 0.2vw;
  height: 0.7vw;
  top: 0.5vw;
  background: #1d1d1d;
  border-radius: 40px;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    top: 0.25vw;
    opacity: 1;
  }

  100% {

    top: 1.25vw;
    opacity: 0;
  }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1d1d1d #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 10px;
  border: 2px none #1d1d1d;
}


@media screen and (min-width: 1400px) {

  .about {
    flex: 2;
  }

  .content {
    flex: 7;
  }

  .bio {
    font-size: var(--font-14);
  }

  .bio span {
    font-size: var(--font-18);
  }

  .action-buttons button {
    font-size: var(--font-16);
  }

  .socials-logo {
    font-size: 2.5vw;
  }

}


@media screen and (max-width: 1200px) {
  .bio {
    font-size: var(--font-18);
  }

  .bio span {
    font-size: var(--font-24);
  }

  .action-buttons button {
    font-size: var(--font-18);
  }
}



@media only screen and (max-width: 600px) {

  :root {
    --font-12: 3vw;
    --font-16: 4.125vw;
    --font-18: 4.75vw;
    --font-20: 5.125vw;
    --font-40: 9vw;
    --font-48: 11.75vw;
  }

  .container {
    height: auto;
    flex-direction: column;
  }

  .about {
    background: #1d1d1d;
    color: #fff;
  }

  .photo {
    display: flex;
    justify-content: space-around;
    padding: 7.5vw;
  }

  .photo img {
    width: 63%;
    border-color: #fff;
  }

  .socials {
    display: flex;
    position: relative;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bio {
    font-size: var(--font-16);
    padding: 0 7.5vw;
  }

  .bio hr {
    margin-bottom: 2vw;
  }

  .bio span {
    font-size: var(--font-18);
  }

  .action-buttons {
    margin-top: 7.5vw !important;
    padding: 7.5vw!important;
    padding-bottom: 15vw!important;
    row-gap: 7.5vw!important;
    flex-direction: column !important;
  }

  .action-buttons button {
    padding: 3.5vw!important;
    width: 100%!important;
    border-color: #fff!important;
  }

  .content-frontend {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: white;
    color: #1d1d1d;
    position: relative;
    transition: color 0.3s ease-in-out;
    height: auto;
    padding-top: 15vw;
  }

  .content-backend {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #1d1d1d;
    color: white;
    position: relative;
    transition: color 0.3s ease-in-out;
    height: auto;
    padding-top: 15vw;
  }

  .content-body {
    width: 100%;
    padding: 0 7.5vw;
  }

  .skills-category {
    font-size: var(--font-18);
  }

  .skills {
    margin: auto;
    margin-bottom: 7.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 7.5vw 15vw;
    row-gap: 3.75vw;
  }

  .skills-header {
    padding: 1.5vw 5vw;
  }

  .skills-title {
    line-height: 7.5vw;
    margin-top: 7.5vw;
  }

  .skills-body {
    row-gap: 3vw;
    padding: 3vw;
  }

  .title {
    font-size: var(--font-48);
  }

  .description {
    font-size: var(--font-16);
    margin: 7.5vw 0;
  }

  .iceberg-bottom {
    height: 100%;
    top: 68%;
  }

  .iceberg-top {
    height: 100%;
    top: -33%;
  }

  .socials-logo {
    color: #fff!important;
  }
}